.mobile-visible {
  display: none;
}
@media (max-width: 578px) {
  $purple-color: #6e6af2;
  $black-color: #212529;
  $black-70-color: #777777;
  $facebook-color: #3b5998;
  $white-color: #fff;
  $twitter-color: #1da1f2;
  $whatsapp-color: #25d366;
  $box-shadow: 0 0 30px 0
    rgba(
      $color: #000000,
      $alpha: 0.2,
    );
  $box-sm-shadow: 0 0 15px 0
    rgba(
      $color: #000000,
      $alpha: 0.1,
    );

  .facebook-bg-color {
    background-color: $facebook-color !important;
  }
  .facebook-color {
    color: $facebook-color !important;
  }
  .twitter-bg-color {
    background-color: $twitter-color !important;
  }
  .whatsapp-bg-color {
    background-color: $whatsapp-color !important;
  }
  .bg--purple {
    background-color: rgba($color: $purple-color, $alpha: 1) !important;
  }
  .text {
    &--purple {
      color: $purple-color !important;
    }
  }
  .mobile-visible {
    display: block;
    .button {
      display: flex !important;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      &--sm {
        height: 45px;
        padding: 0 25px;
        font-size: 16px;
        font-weight: 600;
      }
      &--md {
        height: 50px;
        padding: 0 25px;
        font-size: 16px;
        font-weight: 600;
      }
      &.button--purple {
        background-color: $purple-color;
        border: 2px solid $purple-color;
        color: white;
      }
      &.button--rounded {
        border-radius: 25px;
      }
    }
    .button--outline {
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      &--sm {
        height: 40px;
        padding: 0 20px;
        font-size: 14px;
        font-weight: 600;
      }
      &.button--purple {
        color: $purple-color;
        border: 2px solid $purple-color;
        background-color: white;
      }
      &.button--rounded {
        border-radius: 25px;
      }
    }
    .popup-back-button {
      font-size: 16px;
      font-weight: 600;
      color: $black-70-color;
      text-decoration: none;
      display: inline-block;
      margin-bottom: 30px;
      i {
        margin-right: 5px;
      }
    }

    .mobile-nav-popup {
      .offcanvas-body {
        height: 100vh;
        overflow-y: auto;
        background-color: white;
      }
      .sst-mob-popup__button {
        position: fixed;
        top: 5px;
        right: 5px;
        height: 45px;
        width: 45px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 3px;
        background-color: white;
        z-index: 9;
        border: 1px solid rgba($color: #000000, $alpha: 0.1);
        box-shadow: $box-shadow;
        svg {
          height: 30px !important;
          width: 30px !important;
        }
      }
      .nav-header {
        margin-bottom: 30px;
        .discount-banner-image {
          img {
            width: 100%;
            height: auto;
            object-fit: cover;
            object-position: center;
          }
        }
        .user-profile {
          display: flex;
          align-items: center;
          justify-content: start;
          padding: 20px;
          background-color: rgba($color: $purple-color, $alpha: 0.1);
          border-radius: 20px;

          .user-profile__image {
            position: relative;
            height: 70px;
            width: 70px;

            display: flex;
            align-items: center;
            justify-content: center;
            border: 2px solid #f1f1f1;
            flex-shrink: 0;
            img {
              height: 70px;
              width: 70px;
              border-radius: 10px;
              object-fit: cover;
              object-position: center;
            }
          }
          .user-edit__button {
            position: absolute;
            height: 35px;
            width: 35px;
            background-color: white;
            border: 2px solid white;
            border-radius: 50%;
            left: -15px;
            bottom: -15px;
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: $box-shadow;
            i {
              font-size: 15px;
              color: $purple-color;
            }
          }
          .user-detail {
            margin-left: 20px;
            .user__name {
              text-transform: capitalize;
              font-size: 20px;
              font-weight: 700;
              color: $black-color;
              margin-bottom: 0;
            }
            .user__email {
              font-size: 14px;
              color: $black-70-color;
              margin-bottom: 0;
              font-weight: 300;
            }
            .user__money {
              margin-bottom: 0;
              font-size: 15px;
              .label {
                color: $purple-color;
              }
              .text {
                font-weight: 600;
                color: $black-color;
              }
            }
          }
        }
        .nav-brand-logo {
          display: inline-block;
          padding: 30px 0;
          margin: 0 auto;
          .brand-logo__image {
            width: 200px;
          }
        }
        .discount-banner {
          padding: 20px 30px;
          background-color: rgba($color: $purple-color, $alpha: 0.1);
          border-radius: 20px;
          position: relative;
          &::after {
            content: "";
            position: absolute;
            height: 40px;
            width: 40px;
            border-radius: 50%;
            background-color: white;
            right: -20px;
            top: 50%;
            transform: translateY(-50%);
          }
          &::before {
            content: "";
            position: absolute;
            height: 40px;
            width: 40px;
            border-radius: 50%;
            background-color: white;
            left: -20px;
            top: 50%;
            transform: translateY(-50%);
          }
          &__title {
            font-size: 20px;
            font-weight: 700;
            color: $black-color;
            margin-bottom: 5px;
          }
          &__description {
            font-size: 14px;
            font-weight: 300;
            margin-bottom: 0;
            color: $black-color;
          }
          &__box {
            height: 65px;
            width: 65px;
            border-radius: 50%;
            border: 2px solid $purple-color;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 18px;
            color: $purple-color;
            flex-shrink: 0;
            font-weight: 700;
            line-height: 1;
            padding: 4px;
            box-shadow: $box-shadow;
            background-color: white;
          }
          &__validatity {
            font-size: 14px;
            font-weight: 400;
            margin-bottom: 0;
            color: $black-color;
          }
        }
      }
      .nav-section {
        .nav__title {
          font-size: 18px;
          font-weight: 700;
          color: $black-70-color;
          margin-bottom: 15px;
        }
        .nav__list {
          list-style: none;
          margin: 0;
          padding: 0;
          &.bordered__list {
            > li {
              border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
              &:last-child {
                border-bottom: 0;
              }
            }
          }
          .mob-sublink__list {
            background: #f9f9f9;
            position: fixed;
            height: 100vh;
            width: 100%;
            background-color: white;
            left: 0;
            top: 0;
            overflow-y: auto;
          }

          .nav__item {
            display: flex;
            align-items: center;
            text-decoration: none;
            padding: 10px 0;
            cursor: pointer;
            &.active {
              .icon-wrapper {
                background-color: $purple-color;
                border: 1px solid $purple-color;
                i,
                svg {
                  color: white;
                }
              }
              span {
                color: $purple-color;
                font-weight: 500;
              }
            }
            &.twitter--item {
              .icon-wrapper {
                background-color: $twitter-color;
                border: 1px solid $twitter-color;
                i {
                  color: white;
                }
              }
              span {
                color: $twitter-color;
                font-weight: 600;
              }
              .right-arrow {
                color: $twitter-color;
              }
            }
            &.youtube--item {
              .icon-wrapper {
                background-color: #ff0000;
                border: 1px solid #ff0000;
                i {
                  color: white;
                }
              }
              span {
                color: #ff0000;
                font-weight: 600;
              }
              .right-arrow {
                color: #ff0000;
              }
            }
            &.facebook--item {
              .icon-wrapper {
                background-color: #1877f2;
                border: 1px solid #1877f2;
                i {
                  color: white;
                }
              }
              span {
                color: #1877f2;
                font-weight: 700;
              }
              .right-arrow {
                color: #1877f2;
              }
            }
            &.tiktok--item {
              .icon-wrapper {
                background-color: #010101;
                border: 1px solid #010101;
                i {
                  color: white;
                }
              }
              span {
                color: #010101;
                font-weight: 700;
              }
              .right-arrow {
                color: #010101;
              }
            }
            &.instagram--item {
              .icon-wrapper {
                background-color: #c32aa3;
                border: 1px solid#c32aa3;
                i {
                  color: white;
                }
              }
              span {
                color: #c32aa3;
                font-weight: 700;
              }
              .right-arrow {
                color: #c32aa3;
              }
            }
            &.spotify--item {
              .icon-wrapper {
                background-color: #1ed760;
                border: 1px solid #1ed760;
                i {
                  color: white;
                }
              }
              span {
                color: #1ed760;
                font-weight: 700;
              }
              .right-arrow {
                color: #1ed760;
              }
            }
            &.twitch--item {
              .icon-wrapper {
                background-color: #9146ff;
                border: 1px solid #9146ff;
                i {
                  color: white;
                }
              }
              span {
                color: #9146ff;
                font-weight: 700;
              }
              .right-arrow {
                color: #9146ff;
              }
            }
            &.pinterest--item {
              .icon-wrapper {
                background-color: #bd081c;
                border: 1px solid #bd081c;
                i {
                  color: white;
                }
              }
              span {
                color: #bd081c;
                font-weight: 700;
              }
              .right-arrow {
                color: #bd081c;
              }
            }
            &.linkedin--item {
              .icon-wrapper {
                background-color: #0a66c2;
                border: 1px solid #0a66c2;
                i {
                  color: white;
                }
              }
              span {
                color: #0a66c2;
                font-weight: 700;
              }
              .right-arrow {
                color: #0a66c2;
              }
            }
            &.quora--item {
              .icon-wrapper {
                background-color: #aa2200;
                border: 1px solid #aa2200;
                i {
                  color: white;
                }
              }
              span {
                color: #aa2200;
                font-weight: 700;
              }
              .right-arrow {
                color: #aa2200;
              }
            }
            &.soundcloud--item {
              .icon-wrapper {
                background-color: #ff5500;
                border: 1px solid #ff5500;
                i {
                  color: white;
                }
              }
              span {
                color: #ff5500;
                font-weight: 700;
              }
              .right-arrow {
                color: #ff5500;
              }
            }
            &.tumblr--item {
              .icon-wrapper {
                background-color: #35465d;
                border: 1px solid #35465d;
                i {
                  color: white;
                }
              }
              span {
                color: #35465d;
                font-weight: 700;
              }
              .right-arrow {
                color: #35465d;
              }
            }

            .icon-wrapper {
              height: 35px;
              width: 35px;
              display: flex;
              align-items: center;
              justify-content: center;
              background-color: white;
              border: 1px solid rgba($color: #000000, $alpha: 0.05);
              border-radius: 5px;
              margin-right: 15px;
              color: $black-color;
              i {
                color: $black-color;
              }
            }
            span {
              font-size: 18px;
              color: $black-color;
              font-weight: 400;
            }
            .right-arrow {
              font-size: 16px;
              color: $black-color;
              font-weight: 400;
            }
          }
        }
        .stats_list {
          margin-bottom: 25px;
          .stats__item {
            background-color: white;
            border-radius: 10px;
            padding: 15px;
            text-align: center;
            &.loaded {
              background-color: rgba($color: green, $alpha: 0.1);
              .stats__number {
                color: green;
              }
            }
            &.bounus {
              background-color: rgba($color: blue, $alpha: 0.1);
              .stats__number {
                color: blue;
              }
            }
            &.spend {
              background-color: rgba($color: red, $alpha: 0.1);
              .stats__number {
                color: red;
              }
            }
            .stats__number {
              font-size: 20px;
              font-weight: 700;
              margin-bottom: 5px;
            }
            .status__title {
              font-size: 14px;
              font-weight: 300;
              margin-bottom: 0;
            }
          }
        }
        .subnav-section {
          transform: translateX(100%);
          padding: 20px;
          position: fixed;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          overflow-y: auto;
          background-color: #f9f9f9;
          transition: 0.3s linear;
          &.translate-0 {
            transform: translateX(0) !important;
          }
          .nav__sublist {
            list-style: none;
            margin: 0;
            padding: 0;
            &.bordered__list {
              > li {
                border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
                &:last-child {
                  border-bottom: 0;
                }
              }
            }
            .mob-sublink__list {
              background: #f9f9f9;
              position: fixed;
              height: 100vh;
              width: 100%;
              background-color: white;
              left: 0;
              top: 0;
              overflow-y: auto;
            }

            .nav__item {
              display: block;
              padding: 10px 0;
              font-size: 18px;
              color: $black-color;
              font-weight: 400;
              &.active {
                color: $purple-color;
                font-weight: 600;
              }
            }
          }
        }
        .contact-additional-information {
          .contact__list {
            list-style: none;
            margin: 0;
            padding: 0;
            .contact__item {
              display: flex;
              align-items: center;
              padding: 10px 15px;
              border-radius: 10px;
              border: 1px solid rgba($color: #000000, $alpha: 0.1);
              margin-bottom: 10px;
              .icon-wrapper {
                height: 50px;
                width: 50px;
                border-radius: 50%;
                border: 1px solid $black-color;
                display: flex;
                align-items: center;
                justify-content: center;
                i {
                  font-size: 24px;
                  color: $black-color;
                }
              }
              .content-detail {
                margin-left: 15px;
                .label {
                  font-size: 14px;
                  color: $black-70-color;
                  margin: 5px;
                }
                .text {
                  font-size: 18px;
                  font-weight: 600;
                  color: $black-color;
                }
              }
              &.email {
                .icon-wrapper {
                  border-color: $twitter-color !important;
                  i {
                    color: $twitter-color !important;
                  }
                }
              }
              &.whatsapp {
                .icon-wrapper {
                  border-color: $whatsapp-color !important;
                  i {
                    color: $whatsapp-color !important;
                  }
                }
              }
            }
          }
        }
      }
      .nav-footer {
        margin-top: 30px;
        padding-top: 30px;
        border-top: 1px solid rgba($color: #000000, $alpha: 0.1);
        .social-media {
          margin-top: 20px;
          .social-media__list {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0;
            padding: 0;
            list-style: none;
            .social-media__item {
              text-decoration: none;
              display: inline-block;
              margin: 0 5px;
              height: 40px;
              width: 40px;
              border-radius: 50%;
              display: flex;
              align-items: center;
              justify-content: center;
              background-color: #6e6af2;
              color: white;
            }
          }
        }
      }
    }
    form {
      label {
        font-size: 16px;
        margin-bottom: 10px;
      }
      .form-control {
        min-height: 50px;
        border-radius: 10px;
        padding: 0 15px;
        background-color: white;
        border: 1px solid $white-color;
        box-shadow: none;
        &.input--light {
          background-color: #eee;
        }
        &::-webkit-file-upload-button {
          min-height: 50px;
        }
      }
    }
    .profile-edit-form {
      .title {
        font-size: 20px;
        color: $black-color;
        text-align: center;
        margin-bottom: 30px;
      }
    }
    .profile-input-box {
      height: 100px;
      width: 100px;
      border-radius: 10px;
      margin: 0 auto;
      position: relative;
      img {
        height: 100px;
        width: 100px;
        border-radius: 10px;
        object-fit: cover;
        object-position: center;
      }
      .profile-picture-edit-button {
        position: absolute;
        top: -10px;
        right: -10px;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        background-color: white;
        box-shadow: $box-shadow;
        display: flex;
        justify-content: center;
        align-items: center;
        i {
          font-size: 14px;
          color: $purple-color;
        }
      }
    }

    .sst-mobile-header {
      nav {
        padding: 10px 0;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        a {
          display: inline-block;
          text-decoration: none;
        }
        .brand-logo {
          img {
            width: 170px;
          }
        }
        .mob-top-contact {
          font-weight: 700;
          color: $purple-color;
          margin-right: 10px;
        }
      }
    }
    main {
      padding-bottom: 70px;
      .sst-dashboard-header {
        .login-content {
          padding: 20px;
          border-radius: 20px;
          background-color: $white-color;
          box-shadow: $box-sm-shadow;
          .user-profile {
            display: flex;
            align-items: center;
            justify-content: start;
            padding-bottom: 20px;

            .user-profile__image {
              position: relative;
              height: 70px;
              width: 70px;
              display: flex;
              align-items: center;
              justify-content: center;

              flex-shrink: 0;
              img {
                height: 70px;
                width: 70px;
                border: 2px solid #ddd;
                border-radius: 10px;
                object-fit: cover;
                object-position: center;
              }
            }
            .user-edit__button {
              position: absolute;
              height: 35px;
              width: 35px;
              background-color: white;
              border: 2px solid white;
              border-radius: 50%;
              left: -15px;
              bottom: -15px;
              display: flex;
              align-items: center;
              justify-content: center;
              box-shadow: $box-shadow;
              i {
                font-size: 15px;
                color: $purple-color;
              }
            }
            .user-detail {
              margin-left: 20px;
              .user__name {
                text-transform: capitalize;
                font-size: 20px;
                font-weight: 700;
                color: $black-color;
                margin-bottom: 10px;
              }

              .user__money {
                margin-bottom: 0;
                .label {
                  color: $black-70-color;
                  font-size: 14px;
                  font-weight: 300;
                }
                .text {
                  font-size: 20px;
                  font-weight: 700;
                  color: $purple-color;
                  margin-bottom: 0;
                }
              }
            }
          }
          .stat-detail {
            padding-top: 20px;
            border-top: 1px solid rgba($color: #000, $alpha: 0.1);
            .text {
              font-size: 18px;
              font-weight: 600;
              margin-bottom: 5px;
              &.loaded {
                color: green;
              }
              &.bonus {
                color: blue;
              }
              &.expense {
                color: red;
              }
            }
            .label {
              font-size: 14px;
              font-weight: 300;
              color: $black-70-color;
              margin-bottom: 0;
            }
          }
        }
      }
      .sst-dashboard-body {
        .tab__list {
          display: flex;
          align-items: center;
          justify-content: center;
          width: auto;
          list-style: none;
          margin: 30px auto;
          background-color: #eee;
          border-radius: 30px;
          padding: 0;
          border: 0;
          .tab__item {
            padding: 13px 20px;
            text-decoration: none;
            font-weight: 400;
            color: $black-color;
            border: none;
            border-radius: 30px;
            &.active {
              background-color: $purple-color;
              color: white;
              font-weight: 500;
            }
          }
        }
      }
      .sst-dashboard-footer {
        .tab-content-wrapper {
          .tab__content {
            display: none;
            &.show {
              display: block !important;
            }
            .heading {
              margin-bottom: 10px;
              .title {
                font-size: 18px;
                font-weight: 700;
                color: #777777;
                margin-bottom: 0;
              }
            }
            .transaction-history__list {
              list-style: none;
              padding: 0;
              margin: 0;
              .transaction-history__item {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 10px 15px;
                border-radius: 10px;
                box-shadow: $box-sm-shadow;
                text-decoration: none;
                margin-bottom: 10px;
                .wallet-icon {
                  height: 55px;
                  width: 55px;
                  border-radius: 50%;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  background-color: red;
                  i {
                    color: $white-color;
                    font-size: 25px;
                  }
                }
                .transaction-detail {
                  margin-left: 15px;
                  .date {
                    font-size: 14px;
                    color: $black-color;
                    margin-bottom: 5px;
                  }
                  .text {
                    font-size: 18px;
                    font-weight: 600;
                    margin-bottom: 0;
                    color: $black-color;
                  }
                }
                .transaction-money {
                  margin-left: 10px;
                  text-align: center;
                  .text {
                    font-size: 18px;
                    color: $black-color;
                    font-weight: 600;
                    margin-bottom: 0px;
                  }
                  .variable-text {
                    font-size: 14px;
                    font-weight: 400;
                    color: red;
                    margin-bottom: 0;
                  }
                }
                &.credited {
                  .wallet-icon {
                    background-color: green;
                  }
                  .transaction-money {
                    .variable-text {
                      color: green;
                    }
                  }
                }
              }
            }
            .load-more-btn {
              margin: 15px 0;
              font-size: 16px;
              color: $purple-color;
              text-decoration: none;
              cursor: pointer;
              text-align: center;
              display: block;
              font-weight: 600;
            }
            .service__list {
              .service__item {
                border: 2px solid rgba($color: $purple-color, $alpha: 0.2);
                height: 80px;
                width: 100%;
                border-radius: 10px;
                overflow: hidden;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: white;
                img {
                  height: auto;
                  width: 80%;
                  object-fit: cover;
                  object-position: center;
                }
                &.active {
                  border: 2px solid $purple-color;
                  background-color: rgba($color: $purple-color, $alpha: 0.2);
                }
              }
            }
            .service-form-wrapper {
              padding: 20px;
              margin-top: 30px;
              background-color: #f1f1f1;
              border-radius: 30px 30px 0 0;
              .service__form {
                .note {
                  font-size: 14px;
                  margin-top: 10px;
                }
              }
            }
            .accordion {
              margin-top: 30px;
              .accordion-item {
                box-shadow: $box-sm-shadow !important;
                background-color: white;
                border-radius: 10px;
                border: 0 !important;
                .accordion-button {
                  box-shadow: none;
                  padding: 15px !important;
                  color: $black-color;
                  background-color: white !important;
                  font-size: 18px;
                  font-weight: 600;
                  color: $black-70-color;
                }
              }
            }
          }
        }
      }
    }

    .sst-mobile-footer-tabs {
      background-color: $purple-color;
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      border-radius: 20px 20px 0 0;
      .bottom-tab {
        &__item {
          text-decoration: none;
          text-align: center;
          display: block;
          margin: 0 auto;
          color: white;
          width: 100%;
          padding: 20px 0;
          opacity: 0.8;
          svg {
            font-size: 20px;
            font-weight: 400;
            margin-bottom: 5px;
          }
          &.active {
            opacity: 1;
            .name {
              font-size: 400;
            }
          }
        }

        &__name {
          font-weight: 300;
          margin-bottom: 0;
          font-size: 14px;
        }
      }
    }
  }
}
